{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="my-3">
      {% if keyword == '이미지' %}
        <div class="container-fluid">
          <div class="row">
            {% for content in list %}
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card" style="width: 18rem;">
                  <img src="{{ content.img_url }}" class="card-img-top" alt="..." style="width: 286px; height: 300px;">
                  <div class="card-body">
                    <p class="card-text">{{content.title}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% elif keyword == '어학사전' %}
        {% for content in list %}
          {{content.source|safe }}
        {% endfor %}
      {% elif keyword == '지식iN' %}
        <table class="table">
          <thead>
            <tr class="table-succ-ess">
              <th scope="col">번호</th>
              <th scope="col">질문</th>
              <th scope="col">답변자</th>
              <th scope="col">답변</th>
            </tr>
          </thead>
          <tbody>
            {% if list %}
              {% for content in list %}
                <tr>
                  <th scope="row">{{content.num}}</th>
                  <th scope="row">{{content.question}}</th>
                  <th scope="row"><img src="{{content.answer_img|default:" "}}" alt="" srcset="">{{content.answer_name}}</th>
                  <td scope="row">
                    <a href="{{content.question_url}}" class="text-decoration-none text-dark">
                      {{content.answer|truncatechars:30}}
                    </a>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      {% else %}
        <table class="table">
          <thead>
            <tr class="table-succ-ess">
              <th scope="col">번호</th>
              <th scope="col">작성자</th>
              <th scope="col">제목</th>
              <th scope="col">링크/가격</th>
            </tr>
          </thead>
          <tbody>
            {% if list %}
              {% for content in list %}
                <tr>
                  <th scope="row">{{content.num}}</th>
                  <th scope="row"><img src="{{content.thumb_img|default:" "}}" alt="" srcset="">{{content.user}}</th>
                  <td>
                    <a href="{{content.url}}" class="text-decoration-none text-dark">
                      {{content.title|truncatechars:30}}
                    </a>
                  </td>
                  <td scope="row">
                    {% if content.price %}
                      {{content.price|truncatechars:20}}
                    {% elif content.content %}
                      {{content.content|truncatechars:20}}
                    {% else %}
                      {{content.url|truncatechars:20}}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}

            {% else %}
              <tr>
                <td colspan="3">검색된 정보가 존재하지 않습니다.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock content %}
