{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="container-fluid pb-3 mt-5">
    <div class="d-grid gap-3 mt-5" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-body-tertiary border rounded-3">
        <br>Hellow 검색 엔진에 오신걸 환영합니다
        <br>이 사이트에 이용방식에 대해 알려 드리겠습니다
        <br><br>
        <br><br>
        <br><br>
      </div>
      <div class="bg-body-tertiary border rounded-3">
        <br>검색 기록 및 횟수
        {% if records %}
          {% for record in records %}
            <br>{{record.keyword}}
            검색 횟수
            {{record.count}}
            / 사이트 이름 :
            {{record.engine_name}}/ 검색 서비스 :
            {{record.detail_name}}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="my-3">
      {% if detail == '이미지' %}
        <div class="container-fluid">
          <div class="row">
            {% for content in list %}
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card" style="width: 18rem;">
                  <img src="{{ content.img_url }}" class="card-img-top" alt="..." style="width: 286px; height: 300px;">
                  <div class="card-body">
                    <p class="card-text">{{content.title}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% elif detail == '어학사전' %}
        {% for content in list %}
          {{content.source|safe }}
        {% endfor %}
      {% elif detail == '지식iN' %}
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            검색어 :{{keyword}}
            / 태그 :
            {{detail}}
          </div>
          <div class="card-body">
            <table class="table" id="datatablesSimple">
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">질문</th>
                  <th scope="col">답변자</th>
                  <th scope="col">답변</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">질문</th>
                  <th scope="col">답변자</th>
                  <th scope="col">답변</th>
                </tr>
              </tfoot>
              <tbody>
                {% if list %}
                  {% for content in list %}
                    <tr>
                      <th scope="row">{{content.num}}</th>
                      <th scope="row">{{content.question}}</th>
                      <th scope="row"><img src="{{content.answer_img|default:" "}}" alt="" srcset="">{{content.answer_name}}</th>
                      <td scope="row">
                        <a href="{{content.question_url}}" class="text-decoration-none text-dark">
                          {{content.answer|truncatechars:30}}
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      {% else %}
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            검색어 :{{keyword}}
            / 태그 :
            {{detail}}
          </div>
          <div class="card-body">
            <table class="table" id="datatablesSimple">
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">작성자</th>
                  <th scope="col">제목</th>
                  <th scope="col">링크/가격</th>
                </tr>
              </thead>
              {% if list %}
                <tfoot>
                  <tr>
                    <th scope="col">번호</th>
                    <th scope="col">작성자</th>
                    <th scope="col">제목</th>
                    <th scope="col">링크/가격</th>
                  </tr>
                </tfoot>
                <tbody>

                  {% for content in list %}
                    <tr>
                      <th scope="row">{{content.num}}</th>
                      <th scope="row"><img src="{{content.thumb_img|default:" "}}" alt="" srcset="">{{content.user}}</th>
                      <td>
                        <a href="{{content.url}}" class="text-decoration-none text-dark">
                          {{content.title|truncatechars:30}}
                        </a>
                      </td>
                      <td scope="row">
                        {% if content.price %}
                          {{content.price|truncatechars:20}}
                        {% elif content.content %}
                          {{content.content|truncatechars:20}}
                        {% else %}
                          {{content.url|truncatechars:20}}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </div>
            </div>
          {% else %}
            <tbody>
              <tr>
                <td colspan="3">검색된 정보가 존재하지 않습니다.</td>
              </tr>
            </tbody>
          </div>
        </div>
      {% endif %}
    </table>
  {% endif %}
</div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
